body {
  margin-top: 0;
}

/* Header Section */

header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  height: 80px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: mediumaquamarine;
  padding-left: 20px;
}
.logo span {
  padding-left: 10px;
}
nav {
  display: flex;
}
nav span {
  display: inline-block;
}
a {
  color: black;
  padding: 20px;
}

/* Main Container */

div {
  border: 1px solid black;
}
.main-container {
  display: flex;
}
.column.large {
  display: flex;
  width: 630px;
}
.column.medium {
  display: flex;
  width: 300px;
}
.column.small {
  display: flex;
  width: 240px;
}
